---
extends: default

ignore: |
  roles/download/
  roles/k3s/
  roles/prereq/
  roles/raspberrypi/
  roles/reset/
  inventory/sample/

rules:
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on']
  new-line-at-end-of-file: disable
  document-start: disable